@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-2">
        <img style="width:100px; height:70px;" src="@Url.Content("~/")Images/Company_Logo.png" alt="@ViewBag.Appname" />
    </div> <!-- /.col-xs-2 -->

    <div class="col-xs-8">
        <div style="text-align:center;">
            <h3>PERFORMANCE APPRAISAL FORM</h3>
        </div>
    </div> <!-- /.col-xs-8 -->
</div> <!-- /.row -->

<hr />

<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-4">Nama</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                : @Html.DisplayFor(model => model.RES_NM1)
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row NAMA -->
        <div class="row">
            <div class="col-xs-4">Departemen</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                : @Html.DisplayFor(model => model.JOBTTLGRP_NM)
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row DEPARTEMEN -->
        <div class="row">
            <div class="col-xs-4">Posisi</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                : @Html.DisplayFor(model => model.JOBTTL_NM)
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row POSISI/JABATAN -->
    </div> <!-- /.col-xs-5 -->

    <div class="col-xs-6 pull-right">
        <div class="row">
            <div class="col-xs-4">Periode</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                :
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row PERIODE -->
        <div class="row">
            <div class="col-xs-4">Assessor</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                :
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row ASSESSOR -->
        <div class="row">
            <div class="col-xs-4">Tanggal</div> <!-- /.col-xs-4 -->
            <div class="col-xs-8">
                :
            </div> <!-- /.col-xs-8 -->
        </div> <!-- /.row TANGGAL -->
    </div> <!-- /.col-xs-5 -->

</div> <!-- /.row -->
