@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

@{decimal? nSUBTOTAL = null;}
@{string sSUBTOTAL = "";}
@{string sPACPT_SUBTYPE_Prev = ""; string sPACPT_SUBTYPE = ""; string sPACPT_SUBTYPE_Next = "";}
@{string sPACPT_ISDISPASGRP = "";}
@{Boolean isFirst = true;}

@{string sCPYASM_VAL;}
@{string sCPYEVL_VAL;}
@{string sCPYAPV_VAL;}

<table class="table table-bordered">
    <tr>
        <th colspan="2" rowspan="2" valign="middle"><div style="text-align:center;">Label Kompetensi</div></th>
        <th colspan="4">
            <div class="row">
                <div class="col-xs-12">
                    <div style="text-align:center;">
                        <h4>Tingkat Kemahiran Kompetensi</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p style="font-weight: normal;">1. Isilah tingkat kemahiran kompetensi (0-5) yang merefleksikan kinerja karyawan</p>
                    <p style="font-weight: normal;">2. Mengaculah kepada Kamus Kompetensi untuk deskripsi mendetail</p>
                    <p style="font-weight: normal;">3. Kolom kebutuhan dan Σ Coefficient akan dilengkapi oleh HRD</p>
                </div>
            </div>
        </th>
        <th rowspan="2">
            <div>Catatan Untuk</div>
            <div>Kompetensi</div>
        </th>
    </tr>

    <tr>
        <th>
            <div>Self</div>
            <div>Assessment</div>
        </th>
        <th>
            <div>Direct</div>
            <div>Superior</div>
        </th>
        <th>
            <div>Authorized</div>
            <div>Person</div>
        </th>
        <th>Score</th>
    </tr>

    @{int i = 0; int nNo = 0;}
    @foreach (var item in Model.CPY)
    {
        <input type="hidden" id="CPY[@i].RUID" name="CPY[@i].RUID" value="@Html.DisplayFor(model => item.RUID)" />
        <input type="hidden" id="CPY[@i].TRNPA_RUID" name="CPY[@i].TRNPA_RUID" value="@Html.DisplayFor(model => item.TRNPA_RUID)" />
        <input type="hidden" id="CPY[@i].PACPT_RUID" name="CPY[@i].PACPT_RUID" value="@Html.DisplayFor(model => item.PACPT_RUID)" />
        <input type="hidden" id="CPY[@i].PACPT_ID" name="CPY[@i].PACPT_ID"/>
        <input type="hidden" id="CPY[@i].PACPT_NM" name="CPY[@i].PACPT_NM"/>
        <input type="hidden" id="CPY[@i].PACPT_RSEQNO" name="CPY[@i].PACPT_RSEQNO"/>
        <input type="hidden" id="CPY[@i].PACPT_TYPE" name="CPY[@i].PACPT_TYPE"/>
        <input type="hidden" id="CPY[@i].PACPT_SUBTYPE" name="CPY[@i].PACPT_SUBTYPE"/>
        <input type="hidden" id="CPY[@i].PACPT_LVL" name="CPY[@i].PACPT_LVL"/>
        <input type="hidden" id="CPY[@i].PACPT_PARENT" name="CPY[@i].PACPT_PARENT"/>
        <input type="hidden" id="CPY[@i].PACPT_DISPID" name="CPY[@i].PACPT_DISPID"/>
        
        if ((item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_GRP) && (item.PACPT_ISDISPASGRP == valFLAG.FLAG_YES))
        {
            nNo = 0;
            nSUBTOTAL = item.SCORE_VAL;// item.SCORE_VAL;
            sSUBTOTAL = item.SCORE_SYM; // item.SCORE_SYM;
            sPACPT_SUBTYPE_Prev = item.PACPT_SUBTYPE;
            
            <tr><td colspan="7"><h4>@Html.DisplayFor(model => item.PACPT_NM)</h4></td></tr>
        }
        if ((item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_GRP) && (item.PACPT_ISDISPASGRP == valFLAG.FLAG_NO))
        {
            nNo = 0;
            <tr><td colspan="7" style="padding-left:30px;"><h4>@Html.DisplayFor(model => item.PACPT_NM)</h4></td></tr>
        }

        sPACPT_SUBTYPE = item.PACPT_SUBTYPE;
        sPACPT_SUBTYPE_Next = "";

        if (i + 1 < Model.CPY.Count - 1) { sPACPT_SUBTYPE_Next = Model.CPY[i + 1].PACPT_SUBTYPE; sPACPT_ISDISPASGRP = Model.CPY[i + 1].PACPT_ISDISPASGRP; }
        if (item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_ITM)
        {
            nNo++;
            sCPYASM_VAL = "";
            sCPYEVL_VAL = "";
            sCPYAPV_VAL = "";
            if (item.CPYASM_VAL != null) { sCPYASM_VAL = item.CPYASM_VAL.ToString().Substring(0, 1); }
            if (item.CPYEVL_VAL != null) { sCPYEVL_VAL = item.CPYEVL_VAL.ToString().Substring(0, 1); }
            if (item.CPYAPV_VAL != null) { sCPYAPV_VAL = item.CPYAPV_VAL.ToString().Substring(0, 1); }
            
            <tr>
                <td>@nNo.</td>
                <td>@Html.DisplayFor(model => item.PACPT_NM)</td>
                <td>@sCPYASM_VAL</td>
                <td>@sCPYEVL_VAL</td>
                <td>@sCPYAPV_VAL</td>
                <td>@Html.DisplayFor(modelitem=>item.SCORE_VAL)</td>
                <td>@Html.DisplayFor(model => item.RMK)</td>
            </tr>
        }
        if ((sPACPT_SUBTYPE_Prev == sPACPT_SUBTYPE_Next) && (sPACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_ITM))
        {
            <tr>
                <td colspan="4"></td>
                <td style="font-weight:bold;">
                    <div>Indeks</div>
                    <div>Kompetensi</div>
                </td>
                <td style="font-weight:bold;">@hlpConvertionAndFormating.ConvertDecimalToStringFmt(nSUBTOTAL) @sSUBTOTAL</td>
                <td></td>
            </tr>
        }

        i++;
    }
    <tr>
        <td colspan="4"></td>
        <td style="font-weight:bold;">
            <div>Indeks</div>
            <div>Kompetensi</div>
        </td>
        <td style="font-weight:bold;">@hlpConvertionAndFormating.ConvertDecimalToStringFmt(nSUBTOTAL) @sSUBTOTAL</td>
        <td></td>
    </tr>
</table>

