@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<table class="table table-bordered">
    <tr>
        <th style="width: 10px">#</th>
        <th>Label Kompetensi</th>
        <th>
            <div>Self</div>
            <div>Assessment</div>
        </th>
        <th>
            <div>Direct</div>
            <div>Superior</div>
        </th>
        <th>
            <div>Authorized</div>
            <div>Person</div>
        </th>
        <th>
            <div>Catatan Untuk</div>
            <div>Kompetensi</div>
        </th>
    </tr>

    @{int i = 0; int nNo = 0;}
    @{
        string sSelected1="";
        string sSelected2 = "";
        string sSelected3 = "";
        string sSelected4 = "";
        string sSelected5 = "";
    }
    @foreach (var item in Model.CPY)
    {
        <input type="hidden" id="CPY[@i].RUID" name="CPY[@i].RUID" value="@Html.DisplayFor(model => item.RUID)" />
        <input type="hidden" id="CPY[@i].TRNPA_RUID" name="CPY[@i].TRNPA_RUID" value="@Html.DisplayFor(model => item.TRNPA_RUID)" />
        <input type="hidden" id="CPY[@i].PACPT_RUID" name="CPY[@i].PACPT_RUID" value="@Html.DisplayFor(model => item.PACPT_RUID)" />
        <input type="hidden" id="CPY[@i].PACPT_ID" name="CPY[@i].PACPT_ID"/>
        <input type="hidden" id="CPY[@i].PACPT_NM" name="CPY[@i].PACPT_NM"/>
        <input type="hidden" id="CPY[@i].PACPT_RSEQNO" name="CPY[@i].PACPT_RSEQNO"/>
        <input type="hidden" id="CPY[@i].PACPT_TYPE" name="CPY[@i].PACPT_TYPE"/>
        <input type="hidden" id="CPY[@i].PACPT_SUBTYPE" name="CPY[@i].PACPT_SUBTYPE"/>
        <input type="hidden" id="CPY[@i].PACPT_LVL" name="CPY[@i].PACPT_LVL"/>
        <input type="hidden" id="CPY[@i].PACPT_PARENT" name="CPY[@i].PACPT_PARENT"/>
        <input type="hidden" id="CPY[@i].PACPT_DISPID" name="CPY[@i].PACPT_DISPID"/>
        
        //if (item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_GRP)
        if (item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_GRP)
        {
            nNo = 0;
            <tr><td colspan="5">@Html.DisplayFor(model => item.PACPT_NM)</td></tr>
        }

        if (item.PACPT_SUBTYPE == valFLAG.FLAG_PACPTSUBTYPE_ITM)
        {
            nNo++;
            <tr>
                <td>@nNo.</td>
                <td>@Html.DisplayFor(model => item.PACPT_NM)</td>
                <td>
                    @{
            sSelected1 = "";
            sSelected2 = "";
            sSelected3 = "";
            sSelected4 = "";
            sSelected5 = "";
            if (item.CPYASM_VAL == 1) { sSelected1 = "selected"; }
            if (item.CPYASM_VAL == 2) { sSelected2 = "selected"; }
            if (item.CPYASM_VAL == 3) { sSelected3 = "selected"; }
            if (item.CPYASM_VAL == 4) { sSelected4 = "selected"; }
            if (item.CPYASM_VAL == 5) { sSelected5 = "selected"; }
                    }
                    <div class="form-group">
                        <select class="form-control" id="CPY[@i].CPYASM_VAL" name="CPY[@i].CPYASM_VAL" >
                            <option value="1" @sSelected1>1 - Awareness</option>
                            <option value="2" @sSelected2>2 - Basic Application</option>
                            <option value="3" @sSelected3>3 - Skillful Application</option>
                            <option value="4" @sSelected4>4 - Advance</option>
                            <option value="5" @sSelected5>5 - Expert</option>
                        </select>
                    </div>
                </td>
                <td>
                    @{
            sSelected1 = "";
            sSelected2 = "";
            sSelected3 = "";
            sSelected4 = "";
            sSelected5 = "";
            if (item.CPYEVL_VAL == 1) { sSelected1 = "selected"; }
            if (item.CPYEVL_VAL == 2) { sSelected2 = "selected"; }
            if (item.CPYEVL_VAL == 3) { sSelected3 = "selected"; }
            if (item.CPYEVL_VAL == 4) { sSelected4 = "selected"; }
            if (item.CPYEVL_VAL == 5) { sSelected5 = "selected"; }
                    }
                    <div class="form-group">
                        <select class="form-control" id="CPY[@i].CPYEVL_VAL" name="CPY[@i].CPYEVL_VAL" >
                            <option value="1" @sSelected1>1 - Awareness</option>
                            <option value="2" @sSelected2>2 - Basic Application</option>
                            <option value="3" @sSelected3>3 - Skillful Application</option>
                            <option value="4" @sSelected4>4 - Advance</option>
                            <option value="5" @sSelected5>5 - Expert</option>
                        </select>
                    </div>
                </td>
                <td>
                    @{
            sSelected1 = "";
            sSelected2 = "";
            sSelected3 = "";
            sSelected4 = "";
            sSelected5 = "";
            if (item.CPYAPV_VAL == 1) { sSelected1 = "selected"; }
            if (item.CPYAPV_VAL == 2) { sSelected2 = "selected"; }
            if (item.CPYAPV_VAL == 3) { sSelected3 = "selected"; }
            if (item.CPYAPV_VAL == 4) { sSelected4 = "selected"; }
            if (item.CPYAPV_VAL == 5) { sSelected5 = "selected"; }
                    }
                    <div class="form-group">
                        <select class="form-control" id="CPY[@i].CPYAPV_VAL" name="CPY[@i].CPYAPV_VAL" >
                            <option value="1" @sSelected1>1 - Awareness</option>
                            <option value="2" @sSelected2>2 - Basic Application</option>
                            <option value="3" @sSelected3>3 - Skillful Application</option>
                            <option value="4" @sSelected4>4 - Advance</option>
                            <option value="5" @sSelected5>5 - Expert</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group @vsErrClass">
                                <input type="text" id="CPY[@i].RMK" name="CPY[@i].RMK" value="@Html.DisplayFor(model => item.RMK)" class="form-control" @vsReadonlyTextbox />
                            </div> <!-- /.form-group -->
                        </div> <!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                </td>
            </tr>
        }
        
        i++;
    }
</table>
