@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

@{decimal? nSUBTOTAL = null;}
@{string sSUBTOTAL = "";}
@{string sPACPT_SUBTYPE_Prev = ""; string sPACPT_SUBTYPE = ""; string sPACPT_SUBTYPE_Next = "";}
@{string sPACPT_ISDISPASGRP = "";}
@{Boolean isFirst = true;}


<table class="table table-bordered">
    <tr>
        <th>Kompetensi</th>
        <th>Bobot (%)</th>
        <th>
            <div>Indeks</div>
            <div>Kompetensi (CI)</div>
        </th>
        <th>
            <div>CI Score X</div>
            <div>Bobot</div>
        </th>
    </tr>

@{string sCPY_WGHT; }
@{string sCPY_SRBYWGHT; }
@{string sCPY_SR;}

    @foreach (var item in Model.CPYSub)
    {
        sCPY_WGHT = "";
        sCPY_SRBYWGHT = "";
        sCPY_SR = "";

        if (item.CPY_SR != null) {
            sCPY_WGHT = hlpConvertionAndFormating.ConvertDecimalToStringFmt(item.CPY_WGHT);
            sCPY_SRBYWGHT = hlpConvertionAndFormating.ConvertDecimalToStringFmt(item.CPY_SRBYWGHT);
            sCPY_SR = item.CPY_SR.ToString().Substring(0, 1);
        }
        
        <tr>
            <td>@Html.DisplayFor(modelitem => item.PACPT_NM)</td>
            <td>@sCPY_WGHT</td>
            <td>@sCPY_SR</td>
            <td>@sCPY_SRBYWGHT</td>
        </tr>
    }
    <tr>
        <td colspan="3" style="text-align:right; font-weight:bold;">Total Competency Index</td>
        <td>@Html.DisplayFor(model => model.CPY_SR)</td>
    </tr>
</table>

