@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

@{decimal? nSUBTOTAL = Model.KPI_SR;}
@{string sSUBTOTAL = "";}


<table class="table table-bordered">
    <tr>
        <th colspan="2" rowspan="2" valign="middle"><div style="text-align:center;">KPI</div></th>
        <th colspan="4">
            <div class="row">
                <div class="col-xs-12">
                    <div style="text-align:center;">
                        <h4>Key Performance Indicator</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p style="font-weight: normal;">1. Isilah target dan pencapaian karyawan</p>
                    <p style="font-weight: normal;">2. Perhitungan akan dilakukan oleh HRD</p>
                </div>
            </div>
        </th>
        <th rowspan="2">
            <div>Catatan Untuk</div>
            <div>KPI</div>
        </th>
    </tr>

    <tr>
        <th>
            <div>Bobot %</div>
        </th>
        <th>
            <div>Target</div>
        </th>
        <th>
            <div>Pencapaian</div>
        </th>
        <th>
            <div>Weight x</div>
            <div>Score</div>
        </th>
    </tr>

    @{int i = 0; int nNo = 0;}
    @foreach (var item in Model.KPI)
    {

        nNo++;
        <tr>
            <td>@nNo.</td>
            <td>@Html.DisplayFor(model => item.PACPT_NM)</td>
            <td>@Html.DisplayFor(model => item.WGHT_VAL)</td>
            <td>@Html.DisplayFor(model => item.TRGT_VAL)</td>
            <td>@Html.DisplayFor(model => item.ACMT_VAL)</td>
            <td>@Html.DisplayFor(model => item.SRBYWGHT_VAL)</td>
            <td>@Html.DisplayFor(model => item.RMK)</td>
        </tr>
        i++;
    }
    <tr>
        <td colspan="4"></td>
        <td style="font-weight:bold;">
            <div>KPI</div>
            <div>Score</div>
        </td>
        <td style="font-weight:bold;">@hlpConvertionAndFormating.ConvertDecimalToStringFmt(nSUBTOTAL) @sSUBTOTAL</td>
        <td></td>
    </tr>
</table>

