@model APPBASE.Models.PATransaction_DetailVM
@using APPBASE.Helpers

@{
    ViewBag.Title = "Kalkulasi Penilaian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@using (Html.BeginForm())
{
    Html.RenderPartial("_PartialConfirmCalc");
@Html.HiddenFor(model => model.RUID)

    if (ViewData.ModelState["CPY0"] != null)
    {
    <!-- Confirm Calculation -->
    <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-warning"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b>@Html.ValidationMessage("CPY0")</b>
        <p>@Html.ValidationMessage("CPY1")</p>
        <p>@Html.ValidationMessage("CPY2")</p>
        <p>@Html.ValidationMessage("CPY3")</p>
    </div>
    }

    if (ViewData.ModelState["KPI0"] != null)
    {
    <!-- Confirm Calculation -->
    <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-warning"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <b>@Html.ValidationMessage("KPI0")</b>
        <p>@Html.ValidationMessage("KPI1")</p>
        <p>@Html.ValidationMessage("KPI2")</p>
        <p>@Html.ValidationMessage("KPI3")</p>
        <p>@Html.ValidationMessage("KPI4")</p>
    </div>
    }
    
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->
    
}

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}


@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}

