@model APPBASE.Models.PATransaction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PATransaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DTA_STS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DTA_STS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACT_YEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACT_YEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRX_YEAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRX_YEAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACT_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACT_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BIZ_ACT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BIZ_ACT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BP_STS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BP_STS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COEFFCLS_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COEFFCLS_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RES_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RES_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPYASM_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPYASM_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPYEVL_RES_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPYEVL_RES_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPYEVL_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPYEVL_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPYAPV_RES_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPYAPV_RES_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPYAPV_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPYAPV_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KPIEVL_RES_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KPIEVL_RES_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KPIEVL_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KPIEVL_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KPI_SR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KPI_SR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KPI_WGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KPI_WGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KPI_SRBYWGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KPI_SRBYWGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPY_SR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPY_SR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPY_WGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPY_WGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPY_SRBYWGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPY_SRBYWGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FINAL_SR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FINAL_SR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FINAL_SR_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FINAL_SR_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PACPT_SCLE_RUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PACPT_SCLE_RUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOTES1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOTES1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOTES2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOTES2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADTRL_WKS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADTRL_WKS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADTRL_IP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADTRL_IP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADTRL_USR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADTRL_USR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADTRL_PRG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADTRL_PRG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADTRL_DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADTRL_DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RSEQNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RSEQNO)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
