@model APPBASE.Models.Complain_DetailVM
@using APPBASE.Helpers
@using APPBASE.Models
@{string vsStsClass = "";}

          @if (ViewBag.Action != "CREATE") { 
              if (Model.ISS_STS == Complain.ISS_STS_OPEN) { vsStsClass = "alert alert-warning"; }
              if (Model.ISS_STS == Complain.ISS_STS_CLOSE) { vsStsClass = "alert alert-success"; }
              if (Model.ISS_STS == Complain.ISS_STS_CANCEL) { vsStsClass = "alert alert-danger"; }
              <div style="text-align:center;" class="@vsStsClass" role="alert">
                @Html.DisplayFor(model => model.ISS_STS_NM)
              </div>
          }
          <div class="form-group row">
            <div class="col-sm-10">
            @Html.LabelFor(model => model.PROD_NM)
            <div class="input-group">
                @Html.TextBoxFor(model => model.PROD_NM, new { @class = "form-control", @id = "PROD_NM" })
                @Html.HiddenFor(model => model.PROD_RUID, new { @id = "PROD_RUID" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="cmdLookupPROD" name="cmdLookupPROD">Pilih Proyek</button>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.PROD_NM)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
            @Html.LabelFor(model => model.ISS_SUBCTGRY_NM)
            <div class="input-group">
                @Html.TextBoxFor(model => model.ISS_SUBCTGRY_NM, new { @class = "form-control", @id = "ISS_SUBCTGRY_NM" })
                @Html.HiddenFor(model => model.ISS_SUBCTGRY, new { @id = "ISS_SUBCTGRY" })
                @Html.HiddenFor(model => model.ISS_CTGRY, new { @id = "ISS_CTGRY" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="cmdLookupISS_SUBCTGRY" name="cmdLookupISS_SUBCTGRY">Pilih Jenis Complain</button>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.ISS_SUBCTGRY_NM)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
            @Html.LabelFor(model => model.ISS_NM)
            @Html.TextBoxFor(model => model.ISS_NM, new { @class = "form-control", @id = "ISS_NM" })
            @Html.ValidationMessageFor(model => model.ISS_NM)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
            @Html.LabelFor(model => model.ISS_DT)
            <div class="input-group">
                @if (Model != null)
                {
                    @Html.TextBoxFor(model => model.ISS_DT, new { @class = "FieldAsDate form-control", @id = "ISS_DT", @Value = hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.ISS_DT) });
                }
                else
                {
                    @Html.TextBoxFor(model => model.ISS_DT, new { @class = "FieldAsDate form-control", @id = "ISS_DT" });
                }
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.ISS_DT)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
            @Html.LabelFor(model => model.ISS_FNSH_TRGT_DT)
            <div class="input-group">
                @if (Model != null)
                {
                    @Html.TextBoxFor(model => model.ISS_FNSH_TRGT_DT, new { @class = "FieldAsDate form-control", @id = "ISS_FNSH_TRGT_DT", @Value = hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.ISS_FNSH_TRGT_DT) });
                }
                else
                {
                    @Html.TextBoxFor(model => model.ISS_FNSH_TRGT_DT, new { @class = "FieldAsDate form-control", @id = "ISS_FNSH_TRGT_DT" });
                }
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.ISS_FNSH_TRGT_DT)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
            @Html.LabelFor(model => model.ISS_PIC_PERSON)
            @Html.TextBoxFor(model => model.ISS_PIC_PERSON, new { @class = "form-control", @id = "ISS_PIC_PERSON" })
            @Html.ValidationMessageFor(model => model.ISS_PIC_PERSON)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
            @Html.LabelFor(model => model.ISS_RCVR_PERSON)
            @Html.TextBoxFor(model => model.ISS_RCVR_PERSON, new { @class = "form-control", @id = "ISS_RCVR_PERSON" })
            @Html.ValidationMessageFor(model => model.ISS_RCVR_PERSON)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
            @Html.LabelFor(model => model.ISS_REC_PERSON)
            @Html.TextBoxFor(model => model.ISS_REC_PERSON, new { @class = "form-control", @id = "ISS_REC_PERSON" })
            @Html.ValidationMessageFor(model => model.ISS_REC_PERSON)
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
            @Html.LabelFor(model => model.ISS_DESC)
            @Html.TextAreaFor(model => model.ISS_DESC, new { @class = "form-control", @id = "ISS_DESC" })
            @Html.ValidationMessageFor(model => model.ISS_DESC)
            </div>
          </div>

