@model APPBASE.Models.Complain_DetailVM
@using APPBASE.Helpers

@{
    ViewBag.Title = "Respons Complain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div class="form-group row">
    <div class="col-sm-10">
        @Html.LabelFor(model => model.PROD_NM)
        @Html.TextBoxFor(model => model.PROD_NM, new { @class = "form-control", @id = "PROD_NM", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
        @Html.LabelFor(model => model.ISS_SUBCTGRY_NM)
        @Html.TextBoxFor(model => model.ISS_SUBCTGRY_NM, new { @class = "form-control", @id = "ISS_SUBCTGRY_NM", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
        @Html.LabelFor(model => model.ISS_NM)
        @Html.TextBoxFor(model => model.ISS_NM, new { @class = "form-control", @id = "ISS_NM", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-4">
        @Html.LabelFor(model => model.ISS_DT)
        @Html.TextBoxFor(model => model.ISS_DT, new { @class = "FieldAsDate form-control", @id = "ISS_DT", @Value = hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.ISS_DT), @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-4">
        @Html.LabelFor(model => model.ISS_FNSH_TRGT_DT)
        @Html.TextBoxFor(model => model.ISS_FNSH_TRGT_DT, new { @class = "FieldAsDate form-control", @id = "ISS_FNSH_TRGT_DT", @Value = hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.ISS_FNSH_TRGT_DT), @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-6">
        @Html.LabelFor(model => model.ISS_PIC_PERSON)
        @Html.TextBoxFor(model => model.ISS_PIC_PERSON, new { @class = "form-control", @id = "ISS_PIC_PERSON", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-6">
        @Html.LabelFor(model => model.ISS_RCVR_PERSON)
        @Html.TextBoxFor(model => model.ISS_RCVR_PERSON, new { @class = "form-control", @id = "ISS_RCVR_PERSON", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-6">
        @Html.LabelFor(model => model.ISS_REC_PERSON)
        @Html.TextBoxFor(model => model.ISS_REC_PERSON, new { @class = "form-control", @id = "ISS_REC_PERSON", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
        @Html.LabelFor(model => model.ISS_DESC)
        @Html.TextAreaFor(model => model.ISS_DESC, new { @class = "form-control", @id = "ISS_DESC", @disabled = "Disabled" })
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
    @Html.LabelFor(model => model.ISS_DESC_ANLZ)
    @Html.TextAreaFor(model => model.ISS_DESC_ANLZ, new { @class = "form-control", @id = "ISS_DESC_ANLZ" })
    @Html.ValidationMessageFor(model => model.ISS_DESC_ANLZ)
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
    @Html.LabelFor(model => model.ISS_DESC_ACT_SHORT)
    @Html.TextAreaFor(model => model.ISS_DESC_ACT_SHORT, new { @class = "form-control", @id = "ISS_DESC_ACT_SHORT" })
    @Html.ValidationMessageFor(model => model.ISS_DESC_ACT_SHORT)
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">
    @Html.LabelFor(model => model.ISS_DESC_ACT_LONG)
    @Html.TextAreaFor(model => model.ISS_DESC_ACT_LONG, new { @class = "form-control", @id = "ISS_DESC_ACT_LONG" })
    @Html.ValidationMessageFor(model => model.ISS_DESC_ACT_LONG)
    </div>
    </div>

    @Html.HiddenFor(model => model.RUID);
    
    <div>
        <button type="submit" class="btn btn-default">Simpan Response</button>
        @Html.ActionLink("Kembali", "Index")
    </div>

}

<div id="DialogLookup"><div id="DialogLookupContent"></div></div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        //Dialog Lookup
        initDlgLookUp('#DialogLookup');
        //Date Picker Field
        initDatePickerShortV2(".FieldAsDate");
        /*=========================================
        EVENTS
        =========================================*/
    }); //End $(document).ready
</script>
}
