@using APPBASE.Helpers

<!DOCTYPE html>
<html class="bg-black" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Appname | @ViewBag.Title</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        @Styles.Render("~/Content/cssLayoutLogin")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            @Scripts.Render("~/bundles/modernizrAdminLTE")
        <![endif]-->

        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("includeTOP", required: false)
    </head>
    <body class="bg-black">


        <div class="form-box" id="login-box">
            <div class="header"><img style="width:100px; height:40px; margin:0;" src="@Url.Content("~/")Images/Company_Logo_White.png" alt="@ViewBag.Appname" /></div>
            @RenderBody()
        </div>



        @{Html.RenderPartial("_PartialJSVAR");}
        @Scripts.Render("~/bundles/JSLayoutLogin")
        @RenderSection("includeTOP", required: false)
        @RenderSection("scripts", required: false)
    </body>
</html>
