@model IEnumerable<APPBASE.Models.Employee_jobattrLLVM>
@using APPBASE.Helpers

@{
    ViewBag.Title = "Daftar Karyawan";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<div class="row">
    <div class="col-xs-12">

                @if (Model == null) { 
                    <table class="table table-hover">
                        <tr>
                            <td style="width:100%;text-align:center;">@{Html.RenderPartial("_PartialEmpty");}</td>
                        </tr>
                    </table>
                }

                @if (Model != null)
                {

                <div class="input-group">
                    <input type="text" name="searchValue" id="searchValue" class="form-control input-sm pull-right FieldEnableAlways" placeholder="Filter Data Cari Nama"/>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                @foreach (var item in Model)
                {
                    <tr class="LOOKUPROW">
                        <td class="SEARCHABLE_ROWS" style="width:50%;">
                            @Html.DisplayFor(modelItem => item.RES_NM1)
                            <input type="hidden" class="RUID" value="@Html.DisplayFor(modelitem => item.RUID)" />
                            <input type="hidden" class="ID" value="@Html.DisplayFor(modelitem => item.RES_ID)" />
                            <input type="hidden" class="NAME" value="@Html.DisplayFor(modelitem => item.RES_NM1)" />

                            <input type="hidden" class="DEPT_RUID" value="@Html.DisplayFor(modelitem => item.DEPT_RUID)" />
                            <input type="hidden" class="DEPT_NM" value="@Html.DisplayFor(modelitem => item.DEPT_NM)" />
                            <input type="hidden" class="JOB_TITLE_RUID" value="@Html.DisplayFor(modelitem => item.JOB_TITLE_RUID)" />
                            <input type="hidden" class="JOB_TITLE_NM" value="@Html.DisplayFor(modelitem => item.JOB_TITLE_NM)" />
                            <input type="hidden" class="JOIN_DT" value="@Html.DisplayFor(modelitem => item.JOIN_DT)" />
                            <input type="hidden" class="LEAVE_RUID" value="@Html.DisplayFor(modelitem => item.LEAVE_RUID)" />
                            <input type="hidden" class="LEAVE_NM" value="@Html.DisplayFor(modelitem => item.LEAVE_NM)" />
                            <input type="hidden" class="LEAVE_BAL" value="@Html.DisplayFor(modelitem => item.LEAVE_BAL)" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.DEPT_NM)</td>
                        <td>@Html.DisplayFor(modelItem => item.JOB_TITLE_NM)</td>
                    </tr>
                }
                    </tbody>
                </table>
                }

    </div><!-- /.col-xs-12 -->
</div>



<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        $("#DialogLookupTitle").text("@ViewBag.Title");
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');
        $("#DialogLookupWait").hide();

        /*=========================================
        EVENTS
        =========================================*/
        $(".LOOKUPROW").click(function () {
            var vsRUID = $(this).children().children(".RUID").val();
            var vsID = $(this).children().children(".ID").val();
            var vsNAME = $(this).children().children(".NAME").val();
            var vsRUID_TAG = '@ViewBag.RUID_TAG';
            var vsID_TAG = '@ViewBag.ID_TAG';
            var vsNAME_TAG = '@ViewBag.NAME_TAG';
            if (isEmptyString(vsRUID_TAG) != true) { $('#' + vsRUID_TAG).val(vsRUID); }
            if (isEmptyString(vsID_TAG) != true) { $('#' + vsID_TAG).val(vsID); }
            if (isEmptyString(vsNAME_TAG) != true) { $('#' + vsNAME_TAG).val(vsNAME); }

            var vsDEPT_RUID = $(this).children().children(".DEPT_RUID").val();
            var vsDEPT_NM = $(this).children().children(".DEPT_NM").val();
            var vsJOB_TITLE_RUID = $(this).children().children(".JOB_TITLE_RUID").val();
            var vsJOB_TITLE_NM = $(this).children().children(".JOB_TITLE_NM").val();
            var vsJOIN_DT = $(this).children().children(".JOIN_DT").val();
            var vsLEAVE_RUID = $(this).children().children(".LEAVE_RUID").val();
            var vsLEAVE_NM = $(this).children().children(".LEAVE_NM").val();
            var vsLEAVE_BAL = $(this).children().children(".LEAVE_BAL").val();

            var vsDEPT_RUID_TAG = '@ViewBag.DEPT_RUID';
            var vsDEPT_NM_TAG = '@ViewBag.DEPT_NM';
            var vsJOB_TITLE_RUID_TAG = '@ViewBag.JOB_TITLE_RUID';
            var vsJOB_TITLE_NM_TAG = '@ViewBag.JOB_TITLE_NM';
            var vsJOIN_DT_TAG = '@ViewBag.JOIN_DT';
            var vsLEAVE_RUID_TAG = '@ViewBag.LEAVE_RUID';
            var vsLEAVE_NM_TAG = '@ViewBag.LEAVE_NM';
            var vsLEAVE_BAL_TAG = '@ViewBag.LEAVE_BAL';

            if (isEmptyString(vsDEPT_RUID_TAG) != true) { $('#' + vsDEPT_RUID_TAG).val(vsDEPT_RUID); }
            if (isEmptyString(vsDEPT_NM_TAG) != true) { $('#' + vsDEPT_NM_TAG).val(vsDEPT_NM); }
            if (isEmptyString(vsJOB_TITLE_RUID_TAG) != true) { $('#' + vsJOB_TITLE_RUID_TAG).val(vsJOB_TITLE_RUID); }
            if (isEmptyString(vsJOB_TITLE_NM_TAG) != true) { $('#' + vsJOB_TITLE_NM_TAG).val(vsJOB_TITLE_NM); }
            if (isEmptyString(vsJOIN_DT_TAG) != true) { $('#' + vsJOIN_DT_TAG).val(vsJOIN_DT); }
            if (isEmptyString(vsLEAVE_RUID_TAG) != true) { $('#' + vsLEAVE_RUID_TAG).val(vsLEAVE_RUID); }
            if (isEmptyString(vsLEAVE_NM_TAG) != true) { $('#' + vsLEAVE_NM_TAG).val(vsLEAVE_NM); }
            if (isEmptyString(vsLEAVE_BAL_TAG) != true) { $('#' + vsLEAVE_BAL_TAG).val(vsLEAVE_BAL); }

            $('#DialogLookup').modal('hide')
        }); //End  $(".LOOKUPROW").click()
    });   //End $(document).ready
</script>

