@model APPBASE.Models.PAEvaluator_DetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["JOBTTLGRP_NM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="JOBTTLGRP_NM">Unit Kerja</label>
            <input type="text" id="JOBTTLGRP_NM" name="JOBTTLGRP_NM" value="@Html.DisplayFor(model => model.JOBTTLGRP_NM)" class="form-control" readonly />

            @if (ViewData.ModelState["JOBTTLGRP_NM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTLGRP_NM1")
                    </label>
            }
            @if (ViewData.ModelState["JOBTTLGRP_NM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTLGRP_NM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["JOBTTLSUBGRP_NM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="JOBTTLSUBGRP_NM">Sub Unit Kerja</label>
            <input type="text" id="JOBTTLSUBGRP_NM" name="JOBTTLSUBGRP_NM" value="@Html.DisplayFor(model => model.JOBTTLSUBGRP_NM)" class="form-control" readonly />

            @if (ViewData.ModelState["JOBTTLSUBGRP_NM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTLSUBGRP_NM1")
                    </label>
            }
            @if (ViewData.ModelState["JOBTTLSUBGRP_NM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTLSUBGRP_NM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["JOBTTL_NM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="JOBTTL_NM">Jabatan</label>
            <input type="text" id="JOBTTL_NM" name="JOBTTL_NM" value="@Html.DisplayFor(model => model.JOBTTL_NM)" class="form-control" readonly />

            @if (ViewData.ModelState["JOBTTL_NM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTL_NM1")
                    </label>
            }
            @if (ViewData.ModelState["JOBTTL_NM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTTL_NM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["JTLCLS_NM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="JTLCLS_NM">Class @Html.DisplayFor(model => model.COEFFCLS_NM)</label>
            <input type="text" id="JTLCLS_NM" name="JTLCLS_NM" value="@Html.DisplayFor(model => model.JTLCLS_NM)" class="form-control" readonly />

            @if (ViewData.ModelState["JTLCLS_NM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JTLCLS_NM1")
                    </label>
            }
            @if (ViewData.ModelState["JTLCLS_NM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JTLCLS_NM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

