@model APPBASE.Models.PAEvaluator_DetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@{string vsChecked = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}
@{int i = 0;}

@if (ViewData.ModelState["PAUTH_NM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }

<!-- Info Otorisasi -->
<div class="box box-danger">
    <div class="box-header">
        <i class="fa fa-tag"></i>
        <h3 class="box-title">Pilih Otorisasi</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <ul class="todo-list">
            @foreach (var item in Model.AUTHORIZATIONS)
            {
                <!-- Authorization -->
                if (item.PAUTH_RUID == item.PAUTH_RUIDVALUE) { vsChecked = "checked"; } else { vsChecked = ""; }
                <li>
                    <div class="form-group @vsErrClass">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="AUTHORIZATIONS[@i].PAUTH_RUIDVALUE" name="AUTHORIZATIONS[@i].PAUTH_RUIDVALUE" value="@Html.DisplayFor(model => item.PAUTH_RUID)" @vsDisableButton @vsChecked />
                                <span class="text">@Html.DisplayFor(model => item.PAUTH_NM)</span>
                                <input type="hidden" id="AUTHORIZATIONS[@i].PAUTH_RUID" name="AUTHORIZATIONS[@i].PAUTH_RUID" value="@Html.DisplayFor(model => item.PAUTH_RUID)" />
                                <input type="hidden" id="AUTHORIZATIONS[@i].PAUTH_NM" name="AUTHORIZATIONS[@i].PAUTH_NM" value="@Html.DisplayFor(model => item.PAUTH_NM)" />
                            </label>
                        </div>
                    </div> <!-- /.form-group -->
                </li><!-- Authorization -->
                i++;
            }
        </ul>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix no-border">
    </div>
</div><!-- /.box -->
