@model IEnumerable<APPBASE.Models.EmployeeLLMONTHREM_ListVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    //ViewBag.Title = "Info Masa Cuti Besar (1 Bulan)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassBP_STS = "";}

<div class="box invoice">
    <div class="box-header no-print">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Cari Karyawan"/>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null) {
                    <tr>
                        <td colspan="2" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @{int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    
                    <tr>
                        <td>@i</td>
                        <td class="SEARCHABLE_ROWS">
                            <div>@Html.DisplayFor(modelItem => item.RES_NM1)</div>
                            <div>@Html.DisplayFor(modelItem => item.DEPT_NM)</div>
                            <div style="font-weight:">@Html.DisplayFor(modelItem => item.JOB_TITLE_NM)</div>
                            <div>Bergabung tanggal : @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.JOIN_DT)</div>
                        </td>
                        <td>
                            <div>@Html.DisplayFor(modelItem => item.CB_NM)</div>
                            <div>Berakhir tanggal : @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.CBDT_END)</div>
                            <div>Sisa Cuti Besar : @item.CBLEAVE_BAL</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
