
<!-- Info Cuti Besar -->
<div class="box box-danger">
    <div class="box-header">
        <i class="fa fa-suitcase"></i>
        <h3 class="box-title">Info Cuti Besar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <ul class="todo-list">
            <!-- 1 Bulan -->
            <li>
                <a href="@Url.Action("Expinmonth", "Longleave", new { id=1 })">
                    <!-- drag handle -->
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <!-- todo text -->
                    <span class="text">Cuti Besar Hangus Dalam 1 Bulan</span>
                    <!-- Emphasis label -->
                    <small class="label label-danger"><i class="fa fa-clock-o"></i> @ViewBag.EXPIN_1MONTH orang</small>
                </a>
            </li><!-- 1 Bulan -->
            <!-- 3 Bulan -->
            <li>
                <a href="@Url.Action("Expinmonth", "Longleave", new { id=3 })">
                    <!-- drag handle -->
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <!-- todo text -->
                    <span class="text">Cuti Besar Hangus Dalam 3 Bulan</span>
                    <!-- Emphasis label -->
                    <small class="label label-warning"><i class="fa fa-clock-o"></i> @ViewBag.EXPIN_3MONTH orang</small>
                </a>
            </li><!-- 3 Bulan -->
            <!-- 6 Bulan -->
            <li>
                <a href="@Url.Action("Expinmonth", "Longleave", new { id=6 })">
                    <!-- drag handle -->
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <!-- todo text -->
                    <span class="text">Cuti Besar Hangus Dalam 6 Bulan</span>
                    <!-- Emphasis label -->
                    <small class="label label-success"><i class="fa fa-clock-o"></i> @ViewBag.EXPIN_6MONTH orang</small>
                </a>
            </li><!-- 6 Bulan -->
        </ul>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix no-border">
    </div>
</div><!-- /.box -->
