@model APPBASE.Models.Project_DetailVM

          <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.BIZUNIT_NM)
                @Html.TextBoxFor(model => model.BIZUNIT_NM, new { @class = "form-control", @id = "BIZUNIT_NM", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.DEPT_NM)
                @Html.TextBoxFor(model => model.DEPT_NM, new { @class = "form-control", @id = "DEPT_NM", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.PROD_NO)
                @Html.TextBoxFor(model => model.PROD_NO, new { @class = "form-control", @id = "PROD_NO", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
                @Html.LabelFor(model => model.PROD_NM)
                @Html.TextBoxFor(model => model.PROD_NM, new { @class = "form-control", @id = "PROD_NM", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.PROD_QUOT_NO)
                @Html.TextBoxFor(model => model.PROD_QUOT_NO, new { @class = "form-control", @id = "PROD_QUOT_NO", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
                @Html.LabelFor(model => model.PROD_CUST_NAME)
                @Html.TextBoxFor(model => model.PROD_CUST_NAME, new { @class = "form-control", @id = "PROD_CUST_NAME", @disabled = "Disabled" })
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.ADD_NOTE)
                @Html.TextAreaFor(model => model.ADD_NOTE, new { @class = "form-control", @id = "ADD_NOTE", @disabled = "Disabled" })
            </div>
          </div>
